@use '../abstracts/variables';

.btn {
  display: inline-flex;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.15rem 3.15rem 1.25rem 3.15rem;
  border: 1px solid transparent;
  text-decoration: none;
  font-size: var(--fs-btn);
  font-weight: var(--fw-btn);
  line-height: var(--lh-btn);
  letter-spacing: var(--ls-btn);
  transition:
    background-color 0.3s,
    color 0.3s;

  &:focus-visible {
    outline: none;
  }

  &--primary {
    color: var(--btn-primary-text);
    background-color: var(--btn-primary-bg);
    border-color: var(--btn-primary-border);

    &:hover,
    &:focus-visible {
      color: var(--btn-primary-accent-text);
      background-color: var(--btn-primary-accent-bg);
      border-color: var(--btn-primary-accent-border);
    }
  }

  &--primary-shadow {
    box-shadow: 0px 15px 15px -10px var(--btn-primary-bg);

    &:hover,
    &:focus-visible {
      box-shadow: 0px 15px 15px -10px var(--btn-primary-accent-bg);
    }
  }

  &--secondary {
    color: var(--btn-secondary-text);
    background-color: var(--btn-secondary-bg);
    border-color: var(--btn-secondary-border);

    &:hover,
    &:focus-visible {
      color: var(--btn-secondary-accent-text);
      background-color: var(--btn-secondary-accent-bg);
      border-color: var(--btn-secondary-accent-border);
    }
  }

  &--secondary-shadow {
    box-shadow: 0px 15px 15px -10px var(--btn-secondary-bg);

    &:hover,
    &:focus-visible {
      box-shadow: 0px 15px 15px -10px var(--btn-secondary-accent-bg);
    }
  }

  &--rounded {
    border-radius: 100vmax;
  }

  &--outline {
    background-color: transparent;
  }
}
